*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #001356;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.título{
    margin: 24px 0;
    font-size: 50px;
}

.subtítulo{
    padding: 20px 0;
}
   

.imagem-marvel-DC{
    width: 30%;
}

.inicial{
    background-image: linear-gradient(#001356,#74ABFF);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: normal;
    padding: 24px 0;
    
}

.heroes-div-conteudo{
    width: 25%;
}